.data3{
    background: #040415 ;
    height: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

.data-titulo3{
    color:#f4511e;
    margin-left: 11%;
    margin-top: 100px;
}
.data-titulo3 > h1{
    font-family: Avenir Next Medium;
    font-size: 31px;
    letter-spacing: 2px;
    font-weight: 400;
}

.hr-visual{
    position: absolute;
    margin-left: -25px;
    height:8vh;
    width:.1vw;
    border-width:0;
    color:#f4511e;
    background-color:#f4511e;
}

.data-group-visual{
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.data-group-visual .data-group-1{
    margin-right: 20px;
    
    display: flex;
    flex-direction: column;
}

.data-group-visual .data-group-1 > img{
    opacity:0.2;
    filter:alpha(opacity=40);
    margin-top: 50px;
    width: 300px;
    height: 300px;
}

.data-group-visual .data-group-1 > h2{
   font-family: Avenir Next Regular;
    width: 500px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 4px;
}
.data-group-visual .data-group-1 > h3{
    font-family: Avenir Next Regular;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;

}

.data-group-visual .data-group-2{
    display: flex;
    flex-direction: column;
}

.data-group-visual .data-group-2 > p{
   font-family: "Avenir Next Regular";
    letter-spacing: 2px;
    margin-top: 20px;
    max-width: 500px;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.data-group-mobile-visual{
    display: none;
}













@media all and (min-width: 768px) and (max-width: 1024px) { 
    .data3{
        background: #040415 ;
        height: 100%;
        color: #ffff;
        display: flex;
        flex-direction: column;
    }
    
    .data-titulo3{
        color:#f4511e;
        margin-left: 11%;
        margin-top: 100px;
    }
    .data-titulo3 > h1{
        letter-spacing: 2px;
        font-weight: 400;
    }
    

    .hr-visual{
        position: absolute;
        margin-top: -20px;
        left: 140px;
        height:8vh;
        width:.5vw;
        border-width:0;
        color:#f4511e;
        background-color:#f4511e;
    }
    
    .data-group-visual{
        margin-top: 10px;
        margin-bottom: 100px;
        margin-left: 25%;
        margin-right: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    
    .data-group-visual .data-group-1{
        margin-right: 5%;
        
        display: flex;
        flex-direction: column;
    }
    
    .data-group-visual .data-group-1 > img{
        opacity:0.2;
        filter:alpha(opacity=40);
        margin-top: 50px;
        width: 200px;
        height: 200px;
    }
    
    .data-group-visual .data-group-1 > h2{
        width: 350px;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 4px;
    }
    .data-group-visual .data-group-1 > h3{
        margin-top: 10px;
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 3px;
    
    }
    
    .data-group-visual .data-group-2{
        display: flex;
        flex-direction: column;
    }
    
    .data-group-visual .data-group-2 > p{
        letter-spacing: 2px;
        margin-top: 20px;
        width: 380px;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .data-group-mobile-visual{
        display: none;
    }
}















@media all and (min-width: 480px) and (max-width: 768px) { 
    .data3{
    background: #040415 ;
    height: 100%;
    color: #ffff;
    display: flex;
    flex-direction: column;
}

.data-titulo3{
    color:#f4511e;
margin-left: 11%;
margin-top: 100px;
}
.data-titulo3 > h1{
    letter-spacing: 2px;
    font-size: 30px;

    font-weight: 400;;
}

.data-group-visual{
   display: none;
}
.hr-visual{
    position: absolute;
    margin-top: -20px;
    left: 100px;
    height:8vh;
    width:.5vw;
    border-width:0;
    color:#f4511e;
    background-color:#f4511e;
}



.data-group-mobile-visual{
    display: flex;
    flex-direction: column;
}

.data-group-mobile-visual .data-group-1{
    margin-right: 0px;
    
    display: flex;
    flex-direction: column;
}
.data-group-mobile-visual .data-group-1 .items-column{
    display: flex;
}

.data-group-mobile-visual .data-group-1 .items-column > img{
    opacity: 0.2;
    filter: alpha(opacity=40);
    margin-right: 10px;
    margin-top: 0px;
    width: 40%;
    height: 40%;    

}

.data-group-mobile-visual .data-group-1 .items-column > h3{
    max-width: 100%;
    font-family: 'Avenir Next Regular';
    margin-top: 230px;
    font-size: 35px;
    margin-left: 10%;
    letter-spacing: 3px;

}
.data-group-mobile-visual .data-group-1 > h2{
    max-width: 80%;
    font-family: 'Avenir Next Regular';
    font-size: 50px;
    letter-spacing: 4px;
    margin-left: 10%;
    margin-top: 0px;
}



.data-group-mobile-visual .data-group-2{
    display: flex;
    flex-direction: column;
}

.data-group-mobile-visual .data-group-2  .parrafo1{
    font-family: Avenir Next Regular;
    letter-spacing: 3px;
    margin-top:50px;
    max-width: 500px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.data-group-mobile-visual .data-group-2  .parrafo2{
    font-family: Avenir Next Regular;
    letter-spacing: 3px;
    margin-top:20px;
    max-width: 500px;
    font-weight: 400;
    font-size: 15px;
    margin-left: 100px;
    margin-bottom: 30px;
}

}





















@media all and (max-width: 480px) { 

    .data3{
        background: #040415 ;
        height: 100%;
        color: #ffff;
        display: flex;
        flex-direction: column;
    }
    
    .data-titulo3{
        color:#f4511e;
    margin-left: 11%;
    margin-top: 100px;
    }
    .data-titulo3 > h1{
        letter-spacing: 2px;
        font-size: 25px;
    
        font-weight: 400;;
    }
    
    .data-group-visual{
       display: none;
    }
    .hr-visual{
        position: absolute;
        margin-top: -5px;
        left: 60px;
        height:7vh;
        width:.8vw;
        border-width:0;
        color:#f4511e;
        background-color:#f4511e;
    }
    
    
    
    .data-group-mobile-visual{
        display: flex;
        flex-direction: column;
    }
    
    .data-group-mobile-visual .data-group-1{
        margin-right: 0px;
        
        display: flex;
        flex-direction: column;
    }
    .data-group-mobile-visual .data-group-1 .items-column{
        display: flex;
    }
    
    .data-group-mobile-visual .data-group-1 .items-column > img{
        opacity: 0.2;
        filter: alpha(opacity=40);
        margin-right: 10px;
        margin-top: 0px;
        width: 40%;
        height: 40%;   
    
    }
    
    .data-group-mobile-visual .data-group-1 .items-column > h3{
        max-width: 100%;
    font-family: 'Avenir Next Regular';
    margin-top: 150px;
    font-size: 15px;
    margin-left: 10%;
    letter-spacing: 3px;
    
    }
    .data-group-mobile-visual .data-group-1 > h2{
        max-width: 80%;
    font-family: 'Avenir Next Regular';
    font-size: 25px;
    letter-spacing: 4px;
    margin-left: 10%;
    margin-top: 0px;
    }
    
    
    
    .data-group-mobile-visual .data-group-2{
        display: flex;
        flex-direction: column;
    }
    
    .data-group-mobile-visual .data-group-2  .parrafo1{
        font-family: Avenir Next Regular;
        letter-spacing: 3px;
    margin-top: 50px;
    max-width: 300px;
    font-size: 15px;
    margin-left: 60px;
    margin-bottom: 20px;
    }
    
    .data-group-mobile-visual .data-group-2  .parrafo2{
        font-family: Avenir Next Regular;
        letter-spacing: 3px;
    margin-top: 10px;
    max-width: 300px;
    font-size: 15px;
    margin-left: 60px;
    margin-bottom: 30px;
    }
    
    
    
    
    
}