







#inicio.introduccion{
    box-shadow: -120px 120px 20px 100000px #f6f6f6;
    margin-bottom: 0px;



}

.introduccion{
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
}
.izquierda{
    position: absolute;
width: 10%;
height: 220.4vh;
}
.derecha{
    position: absolute;
    margin-left: 90%;
    width: 10%;
    height: 220.4vh;
}
.introduccion-titulo > h4{
    font-size: 20px;
    font-family: Avenir Next Medium;
}
.introduccion-titulo > h1{
    font-size: 35px;
    font-weight: 300;
    font-family: Avenir Next Regular;
}
.introduccion-container{
    margin-left: 10px;
    margin-right: 100px;
}

.introduccion-primera-parte{
    display: flex;
    margin-top: -40px;
    padding: 110px;
}

.introduccion-text-negritas{
    font-weight: 800;
    color: #040414;

}

.introduccion-hr{
    margin-left: -10px;
    margin-right: 10px;
    height:8vh;
    width:.1vw;
    border-width:0;
    color:#f4511e;
    background-color:#f4511e;
}

.introduccion-text-span{
    color: #f15223 ;
    font-size: 36px;

    font-family: Avenir Next Bold;

}

.introduccion-text-diferencia{
    font-size: 36px;
    color: #040415;
    font-family: "Avenir Next Bold";
}


.introduccion-primera-parte > img{
    margin-right: 60%;
    width: 200px;
    height: 50px;
}





._button{
    display: none;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    width: 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 200%;
}
._button>span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

._button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

._button:hover>span {
    padding-right: 25px;
}

._button:hover>span:after {
    opacity: 1;
    right: 0;
}









.button {
    display: block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: .8em;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 10%;
}

.button>span {
    font-weight: 500;
    font-family: "IBM Plex Sans", sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover>span {
    padding-right: 25px;
}

.button:hover>span:after {
    opacity: 1;
    right: 0;
}


.introduccion-segunda-parte .introduccion-titulo{
    margin-left: 100px;
    margin-right: 100px;
}
.introduccion-segunda-parte .introduccion-titulo > h4{
    color: gray;
    margin-bottom: 10px;
    letter-spacing: 3px;

}
.introduccion-segunda-parte .introduccion-titulo > h1{
    margin-bottom: 20px;

}

.introduccion-text-principal{
    letter-spacing: 5px;
}

.introduccion-scroll{
    cursor: pointer;
   width: 50px;
   height: 50px;
   margin-top: 70px;
   margin-left: 50%;
   margin-bottom: 200px;
}

.text-scroll{
    font-family: Avenir Next DemiBold;
    cursor: pointer;
    color: #f4511e;
    font-weight: 400;
 }

 .introduccion-insights{
    display: flex;
    flex-direction: column;
  align-items: center;
  margin-bottom: 15px;

    
 }

 .introduccion-dobleh1{
     display: flex;
 }

 .introduccion-items{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin-left: 100px;
     margin-right: 100px;
     margin-top: 100px;
 }






 

 .introduccion-primer-item{
    max-width: 100%;
    margin-left: 60px;

 }
 .introduccion-primer-item >p{
     margin-top: 16px;
    font-family: Avenir Next Medium;
margin-bottom: 100px;
   color: #bebebe;
 }
 .introduccion-primer-item >h3{
    font-family: Avenir Next Bold;
    color: #222230;
    font-size: 20px;
    margin-bottom: 10px;
  }


 .introduccion-imagen-metodologia{
     width: 60px;
     height: 60px;
     margin-bottom: 15px;
 }






.item-separados{
    display: none;
}

 .introduccion-primer-item2{
    max-width: 200px;
    margin-left: 60px;
    display: none;
 }
 .introduccion-primer-item2 >p{
    font-family: Avenir Next Medium;
     margin-top: 20px;
   color: #8a7e7b;
 }
  .item-separados >h3{
    font-family: Avenir Next Regular;
    color: #222230;
    margin-bottom: 10px;
  }

 .introduccion-imagen-metodologia{
     width: 60px;
     height: 60px;
     margin-bottom: 15px;
 }

.introduccion-tercera-parte{
margin-top: 100px;
}














/* AQUI VA LA MEDIA QUERIA PARA TABLETA */

@media all and (min-width: 769px) and (max-width: 1024px) { 

   
    .introduccion{
        margin-top: 40px;
        margin-bottom: 150px;
        margin-left: 0px;
    margin-right: 0px;
    }
    
    .introduccion-container{

        margin-left: 10px;
        margin-right: 10px;
    }
    .izquierda{
       display: none;
    }
    .derecha{
       display: none;
    }
    .introduccion-primera-parte{
        display: flex;
        margin-top: -40px;
        padding: 110px;
    }
    
    .introduccion-text-negritas{
        font-weight: 600;
        color: #040414;
    
    }
    
    .introduccion-hr{
        margin-top: -15px;
        margin-left: -10px;
        margin-right: 10px;
        height:8vh;
        width:.1vw;
        border-width:0;
        color:#f4511e;
        background-color:#f4511e;
    }
    
    .introduccion-text-span{
        color: #f4511e ;
        font-weight: 700;
    
    }
    
    .introduccion-text-diferencia{
        color: #040414;
        font-weight: 700;
    }
    
    .introduccion-primera-parte > img{
        margin-right: 40%;
        width: 200px;
        height: 50px;
    }
  
    ._button{
        display: none;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: 5px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 200%;
    }
    .copia-introduccion-primera-parte>button>span {
        font-family: "IBM Plex Sans", sans-serif;
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .copia-introduccion-primera-parte>button>span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .copia-introduccion-primera-parte>button:hover>span {
        padding-right: 25px;
    }
    
    .copia-introduccion-primera-parte>button:hover>span:after {
        opacity: 1;
        right: 0;
    }
    
    .introduccion-primera-parte>button {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 18px;
        padding: .8em;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        margin-left: 400px;
    }
    
    .introduccion-primera-parte>button>span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .introduccion-primera-parte>button>span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .introduccion-primera-parte>button:hover>span {
        padding-right: 25px;
    }
    
    .introduccion-primera-parte>button:hover>span:after {
        opacity: 1;
        right: 0;
    }
    
    
    .introduccion-segunda-parte .introduccion-titulo{
        margin-left: 100px;
        margin-right: 100px;
    }
    .introduccion-segunda-parte .introduccion-titulo > h4{
        color: gray;
        font-weight: 500;
        margin-bottom: 10px;
        letter-spacing: 3px;
    
    }
    .introduccion-segunda-parte .introduccion-titulo > h1{
        font-weight: 400;
        margin-bottom: 20px;
    
    }
    
    .introduccion-text-principal{
        letter-spacing: 5px;
    }
    
    .introduccion-scroll{
       width: 50px;
       height: 50px;
       margin-top: 70px;
       margin-left: 50%;
       margin-bottom: 150px;
    }
    
    .introduccion-scroll > h3{
        color: #f4511e;
        font-weight: 400;
     }
    
     .introduccion-insights{
        display: flex;
        flex-direction: column;
      align-items: center;
      margin-bottom: 15px;
    
        
     }
    
     .introduccion-dobleh1{
         display: flex;
     }
    
     .introduccion-items{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         margin-left: 100px;
         margin-right: 100px;
         margin-top: 100px;
     }
  
     .introduccion-primer-item{
        max-width: 200px;
        margin-left: 60px;
    
     }
     .introduccion-primer-item >p{
        font-family: Avenir Next Medium;
         margin-top: 20px;
       color: #bebebe;
     }
     .introduccion-primer-item >h3{
        font-family: Avenir Next Bold;
        color: #040415;
        margin-bottom: 10px;
      }
    
     .introduccion-imagen-metodologia{
         width: 60px;
         height: 60px;
         margin-bottom: 15px;
     }
    .item-separados{
        display: none;
    }
    
     .introduccion-primer-item2{
        max-width: 200px;
        margin-left: 60px;
        display: none;
     }
     .introduccion-primer-item2 >p{
         font-family: Avenir Next Medium;
         margin-top: 20px;
       color: #bebebe;
     }
      .item-separados >h3{
        color: #bebebe;
        margin-bottom: 10px;
      }
    
     .introduccion-imagen-metodologia{
         width: 60px;
         height: 60px;
         margin-bottom: 15px;
     }
    
    .introduccion-tercera-parte{
    margin-top: 100px;
    }
    
}






















































@media all and (min-width: 601px) and (max-width: 768px) { 
    
    .introduccion{
        margin-top: 40px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}
.introduccion-container{
    margin-left: -5%;
    margin-right: 0px;
}

.introduccion-primera-parte > img{
    width: 300px;
    position: absolute;
    margin-left: -50px;
}
.izquierda{
    display: none;
 }
 .derecha{
    display: none;
 }

.introduccion-hr{
    margin-left: -65px;
    height:8vh;
    width:.1vw;
    border-width:0;
    color:#f4511e;
    background-color:#f4511e;
}

.button {
   display: none;
}

._button{
display: inline-block;
border-radius: 4px;
background-color: #f4511e;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 18px;
padding: .8em;
width: 300px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}
._button>span {
    font-family: "IBM Plex Sans", sans-serif;
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

._button>span:after {
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

._button:hover>span {
padding-right: 25px;
}

._button:hover>span:after {
opacity: 1;
right: 0;
}

.introduccion-segunda-parte{
    margin-top: -70px;
    width: 100%;
    margin-left: -50px;
}
.introduccion-segunda-parte .introduccion-titulo{
    width: 700px;
    font-size: 12px;
}
.introduccion-segunda-parte .introduccion-titulo > h4{
    width: 300px;
    color: gray;
    font-weight: 500;
    margin-bottom: 30px;
    letter-spacing: 3px;

}
.introduccion-segunda-parte .introduccion-titulo > h1{
    width: 600px;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 40px;
}

.introduccion-scroll{
    display: none;
 }
 
 .introduccion-scroll > h3{
     display: none;
  }

  .introduccion-items{
    grid-template-columns: 1fr;
    width: 500px;
  }

  .introduccion-primer-item >h3{
      width: 100px;
  }

.introduccion-primer-item{
 display: none;
}

.item-separados{
display: flex;
}
.item-separados > h3{
    font-family: Avenir Next Bold;

    font-size: 25px;
letter-spacing: 1px;
margin-left: 30px;
}
.item-separados > img{
margin-left: 40px;
}

.introduccion-primer-item2{
display: flex;
max-width: 600px;
}
.introduccion-primer-item2 > p{
    font-family: Avenir Next Medium;
    color: #bebebe;
    font-size: 20px;
 margin-left: 110px;
 margin-top: -15px;
 margin-bottom: 50px;
}
.introduccion-imagen-metodologia{
width: 100px;
height: 100px;
margin-bottom: 25px;
}
}








































@media all and (min-width: 481px) and (max-width: 600px) { 
    .introduccion{
        margin-top: 40px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .introduccion-container{
        margin-left: 0px;
        margin-right: 0px;
    }
   
    .introduccion-primera-parte > img{
        position: absolute;
        margin-left: -50px;
    }

    .introduccion-hr{
        margin-left: -65px;
        height:8vh;
        width:.1vw;
        border-width:0;
        color:#f4511e;
        background-color:#f4511e;
    }

    .button {
       display: none;
    }
    .izquierda{
        display: none;
     }
     .derecha{
        display: none;
     }
    
    ._button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: .8em;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
._button>span {
    font-family: "IBM Plex Sans", sans-serif;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

._button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

._button:hover>span {
    padding-right: 25px;
}

._button:hover>span:after {
    opacity: 1;
    right: 0;
}

    .introduccion-segunda-parte{
        margin-top: -70px;
        width: 100%;
        margin-left: -50px;
    }
    .introduccion-segunda-parte .introduccion-titulo{
        width: 350px;
        font-size: 12px;
    }
    .introduccion-segunda-parte .introduccion-titulo > h4{
        width: 300px;

        color: gray;
        font-weight: 500;
        margin-bottom: 15px;
        letter-spacing: 3px;
    
    }
    .introduccion-segunda-parte .introduccion-titulo > h1{
        width: 330px;
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .introduccion-scroll{
        display: none;
     }
     
     .introduccion-scroll > h3{
         display: none;
      }

      .introduccion-items{
        grid-template-columns: 1fr;
        width: 270px;  
      }

      .introduccion-primer-item >h3{
          width: 100px;
      }

 .introduccion-primer-item{
     display: none;
 }

 .item-separados{
    display: flex;
}
.item-separados > h3{
    font-family: Avenir Next Bold;
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.item-separados > img{
    margin-left: -60px;
}

 .introduccion-primer-item2{
   display: flex;
   max-width: 600px;
 }
 .introduccion-primer-item2 > p{
     margin-left: -40px;
     margin-top: -5px;
     margin-bottom: 60px;
  }
  .introduccion-imagen-metodologia{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }



/* 
      .introduccion-primer-item{
        max-width: 250px;
        margin-left: 0px;
     }
     .introduccion-primer-item >p{
         margin-top: 20px;
       color: #8a7e7b;
     }
     .introduccion-primer-item >h3{
        color: #222230;
        margin-bottom: 10px;
      }
    
     .introduccion-imagen-metodologia{
         display: none;
     } */

    

}















































@media all and (max-width: 480px) { 
    .introduccion{
        margin-top: 40px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
    .introduccion-container{
        margin-left: 0px;
        margin-right: 0px;
    }
   
    .introduccion-primera-parte > img{
        position: absolute;
        margin-left: -50px;
    }

    .introduccion-hr{
        margin-left: -65px;
        height:8vh;
        width:.1vw;
        border-width:0;
        color:#f4511e;
        background-color:#f4511e;
    }

    .introduccion-primera-parte>button {
       display: none;
    }
    .izquierda{
        display: none;
     }
     .derecha{
        display: none;
     }
    
._button{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
._button>span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

._button>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

._button:hover>span {
    padding-right: 25px;
}

._button:hover>span:after {
    opacity: 1;
    right: 0;
}

    .introduccion-segunda-parte{
        margin-top: -70px;
        width: 100%;
        margin-left: -50px;
    }
    .introduccion-segunda-parte .introduccion-titulo{
        width: 350px;
        font-size: 12px;
    }
    .introduccion-segunda-parte .introduccion-titulo > h4{
        width: 300px;

        color: gray;
        font-weight: 500;
        margin-bottom: 15px;
        letter-spacing: 3px;
    
    }
    .introduccion-segunda-parte .introduccion-titulo > h1{
        width: 330px;
        font-size: 23px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    .introduccion-scroll{
        display: none;
     }
     
     .introduccion-scroll > h3{
         display: none;
      }

      .introduccion-items{
        grid-template-columns: 1fr;
        width: 270px;  
      }

      .introduccion-primer-item >h3{
          width: 100px;
      }

 .introduccion-primer-item{
     display: none;
 }

 .item-separados{
    display: flex;
}
.item-separados > h3{
    font-size: 22px;
    letter-spacing: 1px;
    margin-left: 30px;
}
.item-separados > img{
    margin-left: -60px;
}

 .introduccion-primer-item2{
   display: flex;
   max-width: 600px;
 }
 .introduccion-primer-item2 > p{
     margin-left: -40px;
     margin-top: -5px;
     margin-bottom: 60px;
  }
  .introduccion-imagen-metodologia{
    width: 50px;
    height: 50px;
    margin-bottom: 25px;
  }

  .introduccion-text-diferencia{
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
    font-size: 36px;
    color: #040415;
    font-family: "Avenir Next Bold";
    font-weight: 700;
}



/* 
      .introduccion-primer-item{
        max-width: 250px;
        margin-left: 0px;
     }
     .introduccion-primer-item >p{
         margin-top: 20px;
       color: #8a7e7b;
     }
     .introduccion-primer-item >h3{
        color: #222230;
        margin-bottom: 10px;
      }
    
     .introduccion-imagen-metodologia{
         display: none;
     } */
    .button{
        display: none;
    }
    
}


