#clientes.clientes{
    box-shadow: -120px 120px 20px 0px #f6f6f6;
    margin-bottom: 0px;

}
.clientes{
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    margin-bottom: 0px;
}

.clientes-titulo{
    color:#f4511e;
    margin-left: 4%; 
    margin-top: 100px;
}
.clientes-titulo > h1{
    font-family: "Avenir Next Medium";
    letter-spacing: 2px;
    font-weight: 400;
}

.clientes-flex{
    margin-left: 120px;
    margin-right: 200px;
    margin-top: 100px;
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.clientes-imagen{
    margin-left: 100px;

    max-width: 20%;
    max-height: 30%;
}

.hr-items{
    
        position: absolute;
        left: 200px;
        height:2px;
        width:70vw;
        border-width:0;
        color:#8d99ae;
        background-color:rgba(100, 93, 93, 0.5);
        font-weight: 800;
       
}

.clientes-agroup{
    margin-bottom: 50px;
}

.clientes-agroup2{
    display: none;
}

.derecha-clientes{
    position: absolute;
    width: 9%;
    height: 101.2vh;
}
.derecha-clientes2{
    position: absolute;
    margin-left: 91%;
    width: 9%;
    height: 101.2vh;
}












@media all and (min-width: 768px) and (max-width: 1024px) { 
    .clientes{
        margin-left: 0px;
        margin-right: 0px;
        display: flex;
        flex-direction: column;
        background-color: #ffff;
        margin-bottom: 100px;
    }
    
    .clientes-titulo{
        color:#f4511e;
        margin-left: 150px;
        margin-top: 100px;
    }
    .clientes-titulo > h1{
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    .clientes-flex{
        margin-left: 120px;
    margin-right: 200px;
        margin-top: 100px;
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
        justify-items: center;
        align-items: center;
    
    }
    
    .clientes-imagen{
        margin-left: 100px;
    
        max-width: 20%;
        max-height: 30%;
    }
    .derecha-clientes{
        display: none;
     }
     .derecha-clientes2{
        display: none;
     }
     
    
    .hr-items{
        
            position: absolute;
            left: 70px;
            height:2px;
            width:90vw;
            border-width:0;
            color:#8d99ae;
            background-color:rgba(100, 93, 93, 0.5);
            font-weight: 800;
           
    }
    
    .clientes-agroup{
        margin-bottom: 50px;
    }
    
    .clientes-agroup2{
        display: none;
    }
    }



















    @media all and (min-width: 480px) and (max-width: 768px) { 
    .clientes{
        margin-left: 0px;
        margin-right: 0px;
    display: flex;

    flex-direction: column;
    background-color: #ffff;
    margin-bottom: 100px;
}

.clientes-titulo{
    color:#f4511e;
    margin-left: 150px;
    margin-top: 100px;
}
.clientes-titulo > h1{
    letter-spacing: 2px;
    font-size: 30px;

    font-weight: 400;;
}

.clientes-agroup{
    display: none;
}
.clientes-agroup2{
    display: flex;
}

.clientes-agroup2 .clientes-flex{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1%;
    margin-top: 70px;
    margin-right: 20%;
    margin-left: -4%;
}

.clientes-agroup2 .clientes-flex .clientes-imagen{
    max-width: 100%;
    height: 50%;
    
    margin-right: -10px;
    margin-bottom: 30px;
}
.derecha-clientes{
    display: none;
 }
 .derecha-clientes2{
    display: none;
 }
 
}
















@media all and (max-width: 480px) { 
    
.clientes{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    margin-bottom: 100px;
}

.clientes-titulo{
    color:#f4511e;
    margin-left: 60px;
    margin-top: 100px;
}
.clientes-titulo > h1{
    letter-spacing: 2px;
    font-size: 25px;

    font-weight: 400;;
}

.derecha-clientes{
    display: none;
 }
 .derecha-clientes2{
    display: none;
 }
 

.clientes-agroup{
    display: none;
}
.clientes-agroup2{
    display: flex;
}

.clientes-agroup2 .clientes-flex{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 1%;
    margin-top: 70px;
    margin-right: 20%;
    margin-left: -20%;
}

.clientes-agroup2 .clientes-flex .clientes-imagen{
    max-width: 100%;
    height: 50%;
    
    margin-right: -90px;
    margin-bottom: 30px;
}


}